*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    height:100%;
    background:url("https://images.unsplash.com/photo-1542751371-adc38448a05e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: contain;
}
.wrapper{
    height:100%;
    width:100%;
    
}
.navbar{
    height:60px;
    width:100%;
    background-image: linear-gradient(blueviolet,white,blueviolet);  
    text-align: center;
    font-size: xx-large;
    padding-top: 15px;
}
i{
    position: absolute;
    left:10px;
    cursor: pointer;
}
.slider{
    /* height:20%; */
    /* background-color: rgb(0, 0, 0); */
    color:white;
    font-size: large;
    text-align: center;
}

.table{
    width:50%;
    height:100%;
    position:absolute;
    top:100px;
    left:400px;
    border:2px solid white;
    border-radius: 25px;
    padding:20px;
    background-color:transparent;
    backdrop-filter:blur(10px);
    font-family:'Times New Roman', Times, serif;
}

table th{
    width:100%;
    /* border:2px solid white; */
    /* border-radius:25px; */
    padding:10px;
    color:white;
    font-size: 20px;
}

td{
    color:white;
    /* border:2px solid white; */
    font-family:fantasy;
    font-size:25px;
    text-align: center;
    overflow:hidden;
    /* background-color: red; */
    /* vertical-align: bottom; */
}

td img{
    width:100%;
    height:100%;
    vertical-align: bottom;

}
.poster{ 
    transition: transform;
}

.poster:hover{
    transform: scale(1.4);
    /* background:transparent; */
    box-shadow: 0 0 50px goldenrod;
}